<% provide(:title, "ヘルプ") %>
<h1>スマ宅の簡単な使い方</h1>
<div class="help">
  <div class="recruitment">
    <div class="situation">
      <h2>宅オフを募集する時</h2>
    </div>
    <h3>手順1</h3>
    <p>ヘッダーにある宅オフを作るから宅オフを作成。</p>
    <h3>手順2</h3>
    <p>他のユーザーがあなたの宅オフを見て申請する。</p>
    <h3>手順3</h3>
    <p>ユーザーページに申請が来るので許可します。</p>
    <h3>手順4</h3>
    <p>Twitterで連絡を取って待ち合わせ場所、時間などを決定。(現在はまだTwitter連携がありません)</p>
    <h3>手順5</h3>
    <p>宅オフを楽しむ！</p>
  </div>
  
  <div class="participation">
    <div class="situation">
      <h2>宅オフに参加する時</h2>
    </div>
    <h3>手順1</h3>
    <p>ヘッダーにある宅オフを探すから条件を絞って宅オフを見つけてクリックします。</p>
    <h3>手順2</h3>
    <p>画面をスクロールして下の方にある申請ボタンを押して申請します。</p>
    <h3>手順3</h3>
    <p>主催者が申請を許可します。</p>
    <h3>手順4</h3>
    <p>Twitterで連絡をとって待ち合わせ場所、時間などを決定。(現在はまだTwitter連携がありません)</p>
    <h3>手順5</h3>
    <p>宅オフを楽しむ！</p>
  </div>
</div>
