<header>
  <div class="row">
    <div class="brand-icon">
      <%= image_tag "gameicon.png" %>
    </div>
    <div class="links">
      <%= link_to 'スマ宅！とは', 'about_path', class: '', method: :get%>
    </div>
  </div>
</header>
<main>
  宅オフをもっと簡単に
  スマ宅！
</main>
<footer>

</footer>
