<footer>
  <div class="row">
    <div class="sumataku">
      <div class="row">
        <%= image_tag "gameicon.png" %>
        <h4>スマ宅</h4>
      </div>
    </div>
    <div class="sns-icon">
      <%= link_to "#" do %>
        <%= fa_icon 'twitter' %>
      <% end %>
    </div>
  </div>
</footer>
